body
{
background-color:#38383b;
padding: 0;
margin: 0;
max-width:100%;
min-width: 50px;
}
.firstpage
{
    height: 100vh;
    width: 100%;
    background-image:url(https://images.squarespace-cdn.com/content/v1/5ce6d339a8ffbf0001a8fb20/1558974115131-FRIH01ZG8B6CE3ZSZEVN/Header_02_022-copy.jpg?format=1500w);
    background-position:center;
    background-size:cover;
}
.front
{
    display: flex;
    flex-wrap: wrap;
    /* position:sticky;
    top: 5px; */
    width: 100%;
    height: 70px;
    align-items: center;
    background-color: black;
}
.front:hover
{
    background-color: rgba(0, 0, 0, 0);
}
.one
{
   width: 33%;
   text-align: center;
}
.title
{   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: white;
    margin:15px 20px;
    text-decoration: none;
}
.title:hover
{
   color: rgb(0, 128, 0);
}
.two
{
   width: 34%;
   display: flex;
   justify-content: center;
}
.list
{
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding: 25px;
}
.list:hover
{
    color: rgb(0, 128, 0);
}
.three
{
    width: 33%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    position: relative;
}
.social
{
    padding: 20px;
}
.text
{
    width: 50%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: lighter;
    line-height: 70px;
    color: white;
    word-spacing: 4px;
}
.link
{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.897);
    border: 1px solid rgb(146, 146, 146);
    margin: 15px 10px;
    padding: 20px 20px;
    border-radius: 5px;
    background-color: rgba(170, 158, 158, 0.945);
}
.link:hover
{
    opacity: 0.9;
    font-size: 20px;
    background-color: rgba(0, 128, 0, 0.863);
    color: white;
    border-style: none;
}
.content
{
    width: 100%;
    height: 75vh;
    text-align:center;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 150px;
}
.title1
{
    height: 50px;
    text-align: center;
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
}
.grid
{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: 100px 100px 100px;
    color: white;
    text-align: center;
    margin: 80px 80px;
    grid-gap: 70px;
}
.grid2
{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: 25px 25px 25px;
    color: white;
    text-align: center;
    grid-gap: 70px;
}
.samples
{
    margin: 50px 50px;
}
.itemone
{
    grid-row-start: 1;
    grid-row-end: 4 ;
    background-image: url(https://images.squarespace-cdn.com/content/v1/5ce6d339a8ffbf0001a8fb20/1580416683418-QILJ3Q48V0L1R15LBORD/image.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 4px;
}
.itemtwo
{
    grid-row-start: 1;
    grid-row-end: 4 ;
    background-image: url(https://images.squarespace-cdn.com/content/v1/5ce6d339a8ffbf0001a8fb20/1580416584668-BCSUBQC0Q7IQLJ80T1XK/image.jpg?format=500w);
    background-position: center;
    background-size: cover;
    border-radius: 4px;
}
.itemthree
{
    grid-row-start: 1;
    grid-row-end: 4 ;
    background-image: url(https://images.squarespace-cdn.com/content/v1/5ce6d339a8ffbf0001a8fb20/1559326767974-6UG31CD8FBVD689DA8X3/Ecomm_02_Lily_004.jpg?format=500w);
    background-position: center;
    background-size: cover;
    border-radius: 4px;
}
.onelink , .twolink , .threelink
{
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px ;
    word-spacing: 5px;
    border: 1px solid gray;
    padding: 20px 20px;
    position: relative;
    top: 20px;
    background-color: gray;
    border-radius: 5px;
}
.onelink:hover
{
    opacity: 0.9;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.795);
    color: white;
    border-style: none;
}
.twolink:hover
{
    opacity: 0.9;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.795);
    color: white;
    border-style: none;
}
.threelink:hover
{
    opacity: 0.9;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.795);
    color: white;
    border-style: none;
}
.titleone , .titletwo , .titlethree
{
    position: relative;
    bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight:lighter;
}
.pot
{
    width: 100%;
    height: 100vh;
}
.flower
{
    min-width: 250px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:40% 30%;
}
.journal
{
    position: relative;
    bottom: 40px;
    width: 100%;
    height: 135vh;
    background-color: #a8a6a1;
}
.jrnl
{
    position: relative;
    top: 50px;
    width: 100%;
    height: 150px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 40px;
    font-weight: 100;
}
.wish
{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: 400px;
    grid-gap: 10px;
    overflow: hidden;
}
.img
{
    position: relative;
    left: 15%;
display: flex;
flex-direction: row;
align-items: center;
}
.textjrnl
{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 400px;
    grid-gap: 10px;
    text-align: center;
}
.first
{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}
.second
{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
.readmore
{
border: 2px solid white;
padding: 20px 20px;
color: #a8a6a1;
background-color: white;
text-decoration: none;
text-align: center;
position: relative;
top: 30px;
border-radius: 4px;
}
.readmore:hover
{
    opacity: 0.8;
    background-color:rgba(0, 0, 0, 0.904);
    color: white;
    border-style: none;
    border-radius: 4px;
    font-size: 18px;
    padding:18px 18px;
}
.signup
{
    position: relative;
    bottom: 70px;
    width: 100%;
    height: 50vh;
    text-align: center;
    background-image: url(https://images.squarespace-cdn.com/content/v1/5ce6d339a8ffbf0001a8fb20/1558974348789-SG3QF5M9PHVZS1JQAYZA/Texture_12_003-1-copy.jpg?format=1500w);
    background-position: center;
    background-size: cover;
}
.emailaddress
{
    width: 50%;
    padding: 20px;
    font-family: sans-serif;
    font-size: 15px;
    border-style: hidden;
    border-radius: 4px;
}
.contact
{
    position: relative;
    top: 80px;
}
.submitbtn
{
    
    padding: 20px;
    position: relative;
    right: 210%;
    top: 20px;
    font-family: sans-serif;
    font-weight: 20px;
    border-radius: 3px;
    border-style: hidden;
    background-color:white;
    color: black;
    /* border: 1px solid grey; */
}
.submitbtn:hover
{
    opacity: 0.9;
    background-color: green;
    border-style: none;
    color: white;
    font-family: sans-serif;
}
.signupform
{
    display: flex;
    justify-content: center;
}
.grow
{
    font-family: sans-serif;
    color: white;
    font-size: 30px;
    position: relative;
    bottom: 10px;
}
.miss 
{
    font-family: sans-serif;
    color: white;
    font-size: 20px;
}
.gift
{
   width: 100%;
   height: 100vh; 
   background-color: #a8a6a1;
   position: relative;
   bottom: 110px;

}
.giftimg
{
    float: left;
    position: relative;
    top:50px;
    left: 50px;
}
.give
{
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    word-spacing: 5px;
}
.last
{
    font-family: sans-serif;
    font-size: 18px;
    word-spacing: 3px;
    line-height: 35px;
    color: white;
}
.giftlink
{
    border:2px solid #a8a6a1;
    border-radius: 4px;
    background-color: white;
    color:#a8a6a1;
    text-decoration: none;
    padding: 30px 40px;
    position: relative;
    top: 20px;
}
.giftlink:hover
{
    opacity: 0.8;
    font-size: 15px;
    color: white;
    background-color: black;
    border-radius: 6px;
}
.txtcontainer
{ 
    position: relative;
 text-align: center; 
 top: 150px;
}
footer
{
    position: relative;
    bottom: 125px;
    width: 100%;
    height: 200px;
}
.tm 
{
    font-family: sans-serif;
    font-size: 40px;
    color: white;
    position: relative;
}
.made 
{
    color: white;
    position: relative;
    font-family: sans-serif;
    font-size: 18px;
}
.ss 
{
    color:#a8a6a1;
    text-underline-offset:5px;
}
.logo
{
display:flex;
flex-direction: column;
margin-left: 30px;
text-align: center;
}
.icon
{   margin-left: 30px;
    margin-top: 40px;
    text-align: center;
}
.sqarespace
{
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 40px;
    text-align: center;
}
@media screen  and (max-width:786px) {
    .content
    {
        text-align: center;
        margin: auto auto;
        min-height: 500px;
        min-width:50px;
    }
    .title1
    {
        width: 100%;
        text-align: center;
    }
    .grid , .grid2
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}
@media  (max-width:800px) {
    .firstpage
    {
        height:100vh;
    }
    .front
    {
        width: 100%;
    }
    .two , .three
    {
        display: none;
    }
    .one
    {
        width: 100%;
    }
    .title
    {
        font-size: 30px;
    }
}